<nav>
    <div class="nav-wrapper">
    <a href="/" class="brand-logo center">Videojuegos</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/personajes" >Personajes</a></li>
        <% if (isLoggedIn) { %>
          <li><a href="/personajes/nuevo-personaje">Nuevo personaje</a></li>
        <% } %>
        <li><a href="git">Comandos git</a></li>
    </ul>
    <ul id="nav-mobile" class="rigth hide-on-med-and-down">
      <% if (isLoggedIn) { %>
        <li><a href="/users/logout">Salir</a></li>
      <% } %>
  </ul>
    </div>
</nav>