<%- include('partials/head.ejs') %>
<%- include('partials/navbar.ejs') %>

<main class="container">
    <h1><%= titulo %></h1>
    <form action="nuevo-personaje?_csrf=<%=csrfToken%>" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
        <label for="nombre_personaje">Nombre</label>
        <input type="text" name="nombre_personaje">
        <label for="imagen_personaje">Imagen</label>
        <input type="file" name="imagen_personaje">
        <br>
        <br>
        <input type="submit" class="waves-effect waves-light btn" value="Guardar personaje">
        <br>
        <br>
    </form>
</main>

<%- include('partials/footer.ejs') %>